.header--landing
  height: 15%
  .header__left
    +rc-flex(90%, 100%)
    img
      // Not dead center. Need to figure out how to go about doing that.
      margin-left: 13%
      width: 30%
  .header__right
    +rc-flex(10%, 100%)
    .menu-button
      background: $secondary-color
      color: $on-secondary-color