.header--landing
  height: 15%
  .header__left
    +rc-flex(90%, 100%)
    span
      // Not dead center. Need to figure out how to go about doing that.
      margin-left: 13%
      color: $secondary-color
      font-family: $primary-font
      font-size: 2em
      font-weight: bold
    img
      // Not dead center. Need to figure out how to go about doing that.
      margin-left: 13%
  .header__right
    +rc-flex(10%, 100%)
    .menu-button
      background: $secondary-color
      color: $on-secondary-color