// ========================= //
// Variable Declaration File //
// ========================= //



// Z-INDEX VARIABLE DECLARATIONS //

$z-modal: 9500
$z-modal-background: 9000
$z-sidebar: 8500
$z-header: 7500



// BORDER RADIUS VARIABLE DECLARATIONS //

$button-border-radius: 0.125em



// BOX-SHADOW VARIABLE DECLARATIONS //

$standard-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)



// COLOR VARIABLE DECLARATIONS //

// Primary color //

$primary-color: #E2B64D // Dorado Miel //
$on-primary-color: #FFFFFF

$primary-color-dark: #9c6e00

// Secondary color //

$secondary-color: #353535 // Gris Oxfored //
$on-secondary-color: #FFFFFF

// Tertiary color //

$tertiary-color: #504239 // Topo //
$primary-brown: #504239 // Needs to be replaced with tertiary color.
$on-tertiary-color: #BDBDBD // Needs to be deprecated.

// Light-gray //

$light-gray: #BCBCBB 
$on-light-gray: #FFFFFF

// Dark-gray //

$dark-gray: #736E74
$on-dark-gray: #FFFFFF

// Background color //

$background-color: #F7F7F7

// Highlight color //

$highlight-color: #26A69A // Rename as 'teal-highlight'.
$green-highlight: #8acc41

// Notification colors //

// Here to be established.

// Base colors //

$base-white: #FFFFFF
$on-base-white: #353535
$base-black: #000000
$on-base-black: #FFFFFF



// FONT VARIABLE DECLARATIONS //

$primary-font: 'Roboto', sans-serif
$secondary-font: 'Nunito', sans-serif
$tertiary-font: 'Alegreya', sans-serif