body {
  margin: 0;
  background: #FFFFFF; }

#root {
  width: 100vw;
  height: 100vh; }

.link {
  text-decoration: none; }

.button {
  border: solid 0.125em #E2B64D;
  border-radius: 1.4375em;
  background: none;
  padding: 0 1em;
  width: auto;
  height: 46px;
  color: #E2B64D;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  letter-spacing: -0.8px; }

.link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 0.125em #E2B64D;
  border-radius: 1.4375em;
  background: none;
  padding: 0 1em;
  width: auto;
  height: 2.1em;
  text-decoration: none;
  color: #E2B64D;
  font-family: Arial, Helvetica, sans-serif;
  /* Refactor this into appropriate 'em' value. */
  font-size: 22px;
  letter-spacing: -0.8px; }

.footer {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .footer a {
    color: #FFFFFF; }

.ref-po__form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 84px;
  box-sizing: border-box;
  padding-left: 1.5em; }
  .ref-po__form .ref-po__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%; }

.form__file-input-container {
  width: 100%;
  height: auto; }

.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 7500;
  width: 100%; }

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 3em;
  margin: 15% 10%; }
  .logo .logo__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    background: #353535;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 2em; }
  .logo .logo__right {
    background: #E2B64D;
    width: 5%;
    height: 100%; }

.notification {
  z-index: 9700; }

.sidebar {
  position: fixed;
  top: 0;
  z-index: 8500;
  overflow-x: hidden;
  height: 100%; }

.sidebar__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%; }

.sidebar__icon--dashboard {
  background: #E2B64D; }

.landing__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%; }
  @media (min-width: 37.5em) {
    .landing__about {
      height: 50%; }
      .landing__about span.about__title {
        font-size: 4em;
        font-weight: bold; } }
  .landing__about span.about__title {
    display: inline-block;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 3em; }
  @media (min-width: 62.5em) {
    .landing__about {
      height: 65%; }
      .landing__about span.about__title {
        margin-right: 40%; }
      .landing__about .about__link-button {
        margin-right: 40%; } }

.about__link-button {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 23px; }

.landing__entrance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 70%; }
  .landing__entrance h1.entrance__tagline {
    box-sizing: border-box;
    display: inline-block;
    margin: 1.5em 0 1% 0.5em;
    text-align: left;
    color: #353535;
    font-family: "Nunito", sans-serif;
    font-size: 2.2em;
    font-weight: bold; }
  .landing__entrance .entrance__action-button {
    box-sizing: border-box;
    margin: 0.5em 0 0 0.8em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  @media (min-width: 29.68em) {
    .landing__entrance {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 70%; }
      .landing__entrance h1.entrance__tagline {
        text-align: center; } }

.footer--landing {
  background: #000000;
  height: 26em;
  padding-top: 2em; }
  @media (min-width: 62.5em) {
    .footer--landing {
      height: 14em; } }
  .footer--landing .footer__link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20em;
    padding-bottom: 2em; }
    @media (min-width: 62.5em) {
      .footer--landing .footer__link-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 5em; } }
    .footer--landing .footer__link-container .footer__link {
      margin: 0.9em;
      color: #FFFFFF;
      font-family: "Alegreya", sans-serif; }
  .footer--landing .footer__social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7em; }
    .footer--landing .footer__social-container img.landing__social-link {
      margin: 0.5em;
      padding: 0.3em;
      width: 2.5em; }
  .footer--landing .footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7em;
    color: white;
    font-family: "Alegreya", sans-serif; }
    @media (min-width: 62.5em) {
      .footer--landing .footer__copyright {
        height: 10em; } }

.header--landing {
  height: 15%; }
  .header--landing .header-title {
    height: 40%;
    position: absolute;
    left: 1.3em; }
  .header--landing .menu-button {
    position: absolute;
    right: 1.3em;
    margin-bottom: 0.75em;
    width: 40px;
    height: 40px; }

.landing__process {
  padding-bottom: 3em;
  width: 100%;
  height: auto;
  background: #353535; }
  .landing__process .process__title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5em; }
    .landing__process .process__title-container .process__title {
      color: #FFFFFF;
      font-family: "Roboto", sans-serif;
      font-size: 1.5em;
      font-weight: normal; }
  .landing__process .process__outer-container {
    width: 100%;
    height: auto; }
    @media (min-width: 37.5em) {
      .landing__process .process__outer-container {
        height: 17em;
        overflow-x: auto; } }
  .landing__process .process__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    @media (min-width: 37.5em) {
      .landing__process .process__inner-container {
        flex-direction: row;
        justify-content: start;
        width: 100em;
        height: 100%; }
        .landing__process .process__inner-container #process__first-step {
          margin-left: 7em; }
        .landing__process .process__inner-container #process__last-step {
          margin-right: 10em; } }
    @media (min-width: 93.75em) {
      .landing__process .process__inner-container {
        justify-content: center;
        width: 100%; }
        .landing__process .process__inner-container #process__first-step {
          margin-left: 5em; }
        .landing__process .process__inner-container #process__last-step {
          margin-right: 5em; } }
    .landing__process .process__inner-container .step__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 12em;
      margin: 2em 0; }
      @media (min-width: 37.5em) {
        .landing__process .process__inner-container .step__container {
          margin: 2em 5em; } }
      .landing__process .process__inner-container .step__container .step__icon {
        width: 7em;
        margin-bottom: 1.5em; }
      .landing__process .process__inner-container .step__container .step__title {
        color: #FFFFFF;
        font-family: "Nunito", sans-serif;
        font-size: 0.8em; }

.sidebar--landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  right: 0;
  background: #4f4f4f; }
  .sidebar--landing .landing-sidebar__spacer {
    width: 100%;
    height: 2em; }
  .sidebar--landing .sidebar__link {
    margin: 2%;
    padding: 2%;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif; }

.sidebar-open {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 50%;
  transition: 0.5s; }

.sidebar-closed {
  width: 0;
  transition: 0.5s; }

.landing__values {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  width: 100%;
  height: auto;
  background: #F7F7F7; }
  .landing__values .values__title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 1em; }
    .landing__values .values__title-container h2.value__title {
      margin: 0;
      color: #353535;
      font-family: "Roboto", sans-serif; }
  .landing__values .value__title-bar {
    display: flex;
    justify-content: flex-end;
    margin: 3% 0;
    padding: 0.5em;
    width: 90%;
    background: #E2B64D;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  .landing__values .value__descriptor {
    margin-right: 0.5em;
    color: #000000;
    font-family: "Nunito", sans-serif;
    font-size: 1.7em; }
  .landing__values .value__description {
    width: 93%;
    background: #FFFFFF; }
  .landing__values .values__description-open {
    display: flex;
    box-sizing: border-box;
    padding: 10%;
    height: auto;
    transition-duration: 1s;
    color: #000000;
    font-family: "Nunito", sans-serif; }
  .landing__values .values__description-closed {
    display: none; }

.landing__values--large {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 2em 0;
  width: 100%;
  height: auto;
  max-height: 41.25em;
  background: #F7F7F7; }
  .landing__values--large .values__title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 1em; }
    .landing__values--large .values__title-container h2.value__title {
      margin: 0;
      color: #353535;
      font-family: "Roboto", sans-serif; }
  .landing__values--large .value__title-bar {
    display: flex;
    justify-content: flex-end;
    margin: 3% 0;
    padding: 0.5em;
    width: 25%;
    max-width: 33.75em;
    min-height: 2em;
    background: #E2B64D;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  .landing__values--large .value__descriptor {
    margin-right: 0.5em;
    color: #000000;
    font-family: "Nunito", sans-serif;
    font-size: 1.7em; }
  .landing__values--large .value__description {
    width: 55%;
    max-width: 45.5em; }
  .landing__values--large .values__description-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6em;
    right: 0;
    margin-right: 8%;
    height: auto;
    transition-duration: 1s;
    color: #000000;
    font-family: "Nunito", sans-serif;
    text-align: center; }
    @media (min-width: 62.5em) {
      .landing__values--large .values__description-open {
        margin-right: 9%; } }
    @media (min-width: 93.75em) {
      .landing__values--large .values__description-open {
        margin-top: 2%;
        margin-right: 12%; } }
    .landing__values--large .values__description-open img {
      width: 100%;
      height: 60%; }
    .landing__values--large .values__description-open span {
      margin-top: 0.5em; }
  .landing__values--large .values__description-closed {
    display: none; }

.order-dashboard {
  box-sizing: border-box;
  margin-left: 10%;
  padding-right: 2.875em;
  padding-bottom: 5%;
  padding-left: 21px;
  width: 90%;
  height: auto;
  min-height: 100vh;
  background: #F7F7F7; }

.order-dashboard__top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  box-sizing: border-box; }
  .order-dashboard__top-bar .top-bar__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    height: 100%;
    padding-top: 15px; }
    .order-dashboard__top-bar .top-bar__left .top-bar__back-order {
      margin: 0;
      width: 100px;
      height: 20px;
      font-family: Arial;
      font-size: 18px;
      letter-spacing: -1px;
      color: #51433a; }
    .order-dashboard__top-bar .top-bar__left .top-bar__new-order-title {
      margin: 0;
      height: 39px;
      font-family: Arial;
      font-size: 35px;
      font-weight: bold;
      letter-spacing: -1.9px;
      color: #51433a; }
  .order-dashboard__top-bar .top-bar__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 100%; }
    .order-dashboard__top-bar .top-bar__right .top-bar__button--cancel {
      border: solid 2px #E2B64D;
      margin-right: 9px;
      color: #E2B64D; }
    .order-dashboard__top-bar .top-bar__right .top-bar__button--save {
      border: solid 2px #353535;
      margin-right: 9px;
      color: #353535; }
    .order-dashboard__top-bar .top-bar__right .top-bar__button--req-quote {
      border: solid 2px #9c6e00;
      color: #9c6e00; }
      .order-dashboard__top-bar .top-bar__right .top-bar__button--req-quote span {
        padding: 1em; }

.order-dashboard__body {
  padding-top: 20px;
  padding-bottom: 30px; }

.empty-view__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12.5em;
  height: auto;
  position: relative;
  top: 30%;
  left: 50%; }
  .empty-view__container span.empty-view__text {
    margin-bottom: 0.2em;
    width: 16.938em;
    font-family: Arial;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -2.1px;
    text-align: center;
    color: #BDBDBD; }

.order-notification {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 0.5em;
  right: 2.5em;
  padding-left: 1em;
  width: 21.5625em;
  height: 3.5em;
  background: #353535;
  color: #FFFFFF;
  font-family: "Alegreya", sans-serif;
  font-size: 1em; }

.product-creator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  box-sizing: border-box;
  margin-top: 19px;
  padding: 30px 2%;
  width: 100%;
  height: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background: #FFFFFF; }
  .product-creator .product-creator__number-label {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 8em;
    position: relative; }
    .product-creator .product-creator__number-label span {
      position: absolute;
      top: 0;
      left: 0;
      font-family: Arial;
      font-size: 25px;
      letter-spacing: -1.3px;
      color: #504239; }
    .product-creator .product-creator__number-label .placeholder-input-div {
      width: 100%;
      height: 70%;
      background: #F7F7F7; }
  .product-creator .add-feature {
    margin: 20px 0;
    color: #8acc41;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5; }
  .product-creator .add-sketches {
    box-sizing: border-box;
    margin-top: 10px;
    background: #F7F7F7; }
    .product-creator .add-sketches button.add-sketch {
      border: none;
      border-radius: 1.4375em;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
      background-color: #353535;
      width: 151px;
      height: 33px;
      color: #FFFFFF;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      letter-spacing: -0.6px; }
  .product-creator .add-tech-sheets {
    box-sizing: border-box;
    margin-top: 10px;
    background: #F7F7F7; }
    .product-creator .add-tech-sheets button.add-tech-sheet {
      border: none;
      border-radius: 1.4375em;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
      background-color: #353535;
      width: 151px;
      height: 33px;
      color: #FFFFFF;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      letter-spacing: -0.6px; }

.bookmark {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -3em;
  left: 1em;
  padding-top: 3px;
  width: 30px;
  height: 64px;
  background-color: #E2B64D;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px; }

.product-form__description-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5em;
  box-sizing: border-box;
  position: relative; }
  .product-form__description-input input {
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575; }
  .product-form__description-input input:focus {
    outline: none; }
  .product-form__description-input label {
    position: absolute;
    left: 1.5em;
    top: 1.8em;
    color: #999;
    font-size: 1.2em;
    pointer-events: none;
    transition: 0.2s ease all; }
  .product-form__description-input input:focus ~ label, .product-form__description-input input:valid ~ label {
    top: 0.3em;
    font-size: 14px;
    color: #26A69A; }
  .product-form__description-input .input__bar {
    position: relative;
    display: block;
    width: 100%; }
  .product-form__description-input .input__bar::before, .product-form__description-input .input__bar::after {
    content: "";
    position: absolute;
    bottom: 1px;
    width: 0;
    height: 2px;
    background: #26A69A;
    transition: 0.2s ease all; }
  .product-form__description-input .input__bar::before {
    left: 50%; }
  .product-form__description-input .input__bar::after {
    right: 50%; }
  .product-form__description-input input:focus ~ .bar::before, .product-form__description-input input:focus ~ .bar::after {
    width: 50%; }
  .product-form__description-input .input__highlight {
    position: absolute;
    top: 25%;
    left: 0;
    width: 150px;
    height: 60%;
    pointer-events: none;
    opacity: 0.5; }
  .product-form__description-input input:focus ~ .input__highlight {
    animation: inputHighlighter 0.3s ease; }
@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
  .product-form__description-input label {
    left: 0.5em;
    top: 1.6em; }
  .product-form__description-input input:focus ~ label, .product-form__description-input input:valid ~ label {
    left: 0; }

.add-sketch-input, .add-tech-sheet-input {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0.5em 0;
  width: 100%;
  height: 2em;
  border: 2px solid #353535;
  font-family: "Nunito", sans-serif; }
  .add-sketch-input label, .add-tech-sheet-input label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #353535;
    color: #FFFFFF;
    width: 200px;
    height: 100%; }
  .add-sketch-input input, .add-tech-sheet-input input {
    display: flex;
    opacity: 0; }

.product-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8em;
  background: #F7F7F7; }

.product-instantiation {
  width: 100%;
  height: 278px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF; }
  .product-instantiation .label-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 102px; }
    .product-instantiation .label-container .order-number-label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 241px;
      height: 45px;
      background-color: #51433a; }
      .product-instantiation .label-container .order-number-label .label__left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 232px;
        height: 100%; }
      .product-instantiation .label-container .order-number-label .order-number {
        width: 161px;
        height: 33px;
        font-family: Arial;
        font-size: 30px;
        letter-spacing: -1.6px;
        color: #FFFFFF; }
      .product-instantiation .label-container .order-number-label .label__right {
        width: 9px;
        height: 100%;
        background-color: #E2B64D; }
  .product-instantiation .reference-po-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 84px;
    padding-left: 10px; }
    .product-instantiation .reference-po-container #test-input {
      width: 100%; }
  .product-instantiation .add-product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 92px;
    box-sizing: border-box;
    padding: 0 14px; }
    .product-instantiation .add-product-container .products-label {
      width: 94px;
      height: 28px;
      font-family: Arial;
      font-size: 25px;
      letter-spacing: -1.3px;
      color: #51433a; }
    .product-instantiation .add-product-container .add-product {
      border: none;
      border-radius: 1.4375em;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
      background-color: #E2B64D;
      width: 169px;
      height: 33px;
      color: #FFFFFF;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      letter-spacing: -0.6px; }

.product-form__ref-po-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  position: relative;
  padding: 0 2%; }
  .product-form__ref-po-input input {
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575; }
  .product-form__ref-po-input input:focus {
    outline: none; }
  .product-form__ref-po-input label {
    position: absolute;
    left: 1.5em;
    top: 1.8em;
    color: #999;
    font-size: 1.2em;
    pointer-events: none;
    transition: 0.2s ease all; }
  .product-form__ref-po-input input:focus ~ label, .product-form__ref-po-input input:valid ~ label {
    top: 0.3em;
    font-size: 14px;
    color: #26A69A; }
  .product-form__ref-po-input .input__bar {
    position: relative;
    display: block;
    width: 100%; }
  .product-form__ref-po-input .input__bar::before, .product-form__ref-po-input .input__bar::after {
    content: "";
    position: absolute;
    bottom: 1px;
    width: 0;
    height: 2px;
    background: #26A69A;
    transition: 0.2s ease all; }
  .product-form__ref-po-input .input__bar::before {
    left: 50%; }
  .product-form__ref-po-input .input__bar::after {
    right: 50%; }
  .product-form__ref-po-input input:focus ~ .bar::before, .product-form__ref-po-input input:focus ~ .bar::after {
    width: 50%; }
  .product-form__ref-po-input .input__highlight {
    position: absolute;
    top: 25%;
    left: 0;
    width: 150px;
    height: 60%;
    pointer-events: none;
    opacity: 0.5; }
  .product-form__ref-po-input input:focus ~ .input__highlight {
    animation: inputHighlighter 0.3s ease; }
@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
.sidebar--manager {
  width: 10%;
  background: #746f75;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=index.css.map */
