body {
  margin: 0;
  background: #FFFFFF; }

#root {
  width: 100vw;
  height: 100vh; }

.button {
  border: none;
  border-radius: 0.125em;
  width: 189px;
  height: 46px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  letter-spacing: -0.8px; }

.header {
  display: flex; }

.sidebar {
  position: fixed;
  top: 0;
  z-index: 8500;
  overflow-x: hidden;
  height: 100%; }

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 3em;
  margin: 15% 10%; }
  .logo .logo__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    background: #363636;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 2em; }
  .logo .logo__right {
    background: #E2B64D;
    width: 5%;
    height: 100%; }

.order-dashboard {
  box-sizing: border-box;
  margin-left: 10%;
  padding-right: 2.875em;
  padding-bottom: 5%;
  padding-left: 21px;
  width: 90%;
  height: auto;
  min-height: 100vh;
  background: #F7F7F7; }

.order-dashboard__top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  box-sizing: border-box; }
  .order-dashboard__top-bar .top-bar__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    height: 100%;
    padding-top: 15px; }
    .order-dashboard__top-bar .top-bar__left .top-bar__back-order {
      margin: 0;
      width: 100px;
      height: 20px;
      font-family: Arial;
      font-size: 18px;
      letter-spacing: -1px;
      color: #51433a; }
    .order-dashboard__top-bar .top-bar__left .top-bar__new-order-title {
      margin: 0;
      height: 39px;
      font-family: Arial;
      font-size: 35px;
      font-weight: bold;
      letter-spacing: -1.9px;
      color: #51433a; }
  .order-dashboard__top-bar .top-bar__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 100%; }
    .order-dashboard__top-bar .top-bar__right .top-bar__button--cancel {
      background: #E2B64D;
      margin-right: 9px; }
    .order-dashboard__top-bar .top-bar__right .top-bar__button--save {
      background: #363636;
      margin-right: 9px; }
    .order-dashboard__top-bar .top-bar__right .top-bar__button--req-quote {
      background: #9c6e00;
      width: 210px; }

.order-dashboard__body {
  padding-top: 20px;
  padding-bottom: 30px; }

.product-creator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  margin-top: 19px;
  padding: 30px 17px;
  width: 100%;
  height: 428px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background: #FFFFFF; }
  .product-creator .product-creator__number-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 32%; }
    .product-creator .product-creator__number-label span {
      font-family: Arial;
      font-size: 25px;
      letter-spacing: -1.3px;
      color: #51433a; }
    .product-creator .product-creator__number-label .placeholder-input-div {
      width: 100%;
      height: 70%;
      background: #F7F7F7; }
  .product-creator .add-feature {
    margin: 20px 0;
    color: #8acc41;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5; }
  .product-creator .add-sketches {
    box-sizing: border-box;
    margin-top: 10px;
    background: #F7F7F7; }
    .product-creator .add-sketches button.add-sketch {
      border: none;
      border-radius: 0.125em;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
      background-color: #363636;
      width: 151px;
      height: 33px;
      color: #FFFFFF;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      letter-spacing: -0.6px; }
  .product-creator .add-tech-sheets {
    box-sizing: border-box;
    margin-top: 10px;
    background: #F7F7F7; }
    .product-creator .add-tech-sheets button.add-tech-sheet {
      border: none;
      border-radius: 0.125em;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
      background-color: #363636;
      width: 151px;
      height: 33px;
      color: #FFFFFF;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      letter-spacing: -0.6px; }

.bookmark {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  top: -75px;
  left: 0;
  padding-top: 3px;
  width: 30px;
  height: 64px;
  background-color: #E2B64D;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px; }

.product-details {
  width: 100%;
  height: 30%;
  background: #F7F7F7; }

.product-instantiation {
  width: 100%;
  height: 278px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF; }
  .product-instantiation .label-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 82px; }
    .product-instantiation .label-container .order-number-label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 241px;
      height: 45px;
      background-color: #51433a; }
      .product-instantiation .label-container .order-number-label .label__left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 232px;
        height: 100%; }
      .product-instantiation .label-container .order-number-label .order-number {
        width: 161px;
        height: 33px;
        font-family: Arial;
        font-size: 30px;
        letter-spacing: -1.6px;
        color: #FFFFFF; }
      .product-instantiation .label-container .order-number-label .label__right {
        width: 9px;
        height: 100%;
        background-color: #E2B64D; }
  .product-instantiation .reference-po-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 104px; }
  .product-instantiation .add-product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 92px;
    box-sizing: border-box;
    padding: 0 14px; }
    .product-instantiation .add-product-container .products-label {
      width: 94px;
      height: 28px;
      font-family: Arial;
      font-size: 25px;
      letter-spacing: -1.3px;
      color: #51433a; }
    .product-instantiation .add-product-container .add-product {
      border: none;
      border-radius: 0.125em;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
      background-color: #E2B64D;
      width: 169px;
      height: 33px;
      color: #FFFFFF;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      letter-spacing: -0.6px; }

.sidebar--order-manager {
  width: 10%;
  background: #746F76;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }

.sidebar__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%; }

.sidebar__icon--dashboard {
  background: #E2B64D; }

/*# sourceMappingURL=index.css.map */
