.landing__values
  display: flex
  flex-direction: column
  padding: 2em 0
  width: 100%
  height: auto
  background: $background-color
  .values__title-container
    +rc-flex(100%, auto)
    margin-bottom: 2em
    h2.values__title
      margin: 0
      color: $secondary-color
      font-family: $primary-font
  .values__title-bar
    display: flex
    justify-content: flex-end
    margin: 3% 0
    padding: 0.5em
    width: 90%
    background: $primary-color
    box-shadow: $standard-box-shadow
  .value__descriptor
    margin-right: 0.5em
    color: $base-white
    font-family: $secondary-font
    font-size: 1.7em
  .values__description
    width: 90%
    height: 2px
    background: black