.order-dashboard
  box-sizing: border-box
  margin-left: 10%
  padding-right: 2.875em
  width: 90%
  height: 100%
  background: $background-color
  .order-dashboard__top-bar
    +custom-flex(row, flex-end, center, 100%, 10%)
    border: 1px solid black
    button
      float: right
      width: 11.813em
      padding: 2em
      background: $secondary-color
    .button--settings
      margin-right: 2em
      background: $primary-color

