.landing__process
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  padding-bottom: 3em
  width: 100%
  height: auto
  background: $secondary-color
  .process__title
    margin: 1em 0
    color: $base-white
    font-family: $primary-font
    font-size: 1.5em
    font-weight: normal
  .step__container
    +cc-flex(90%, auto)
    margin: 2em 0
    .step__icon
      width: 7em
      margin-bottom: 1.5em
    .step__title
      color: $base-white
      font-family: $secondary-font
      font-size: 0.8em

